extra/
*.swp
*.swo
__pycache__/
*.py[cod]
*$py.class
eggs/
.eggs/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
.dev/
.venv/
venv/
env/
build/
dist/
.pytest_cache/
.coverage
htmlcov/
.tox/
.nox/
tmp/
tmp-fixtures/
*.log
